<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Citizen Tracking</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{{url_for('css_static', filename='bootstrap.min.css')}}" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="{{url_for('css_static', filename='style.css')}}">
    <style>
     #map {
       height: 100%;
     }
   </style>

  </head>
  <body>
    <header>
      <div class="container">
        <h1>Citizen Tracking</h1>
      </div>
    </header>
    <div class="container">
      <br>
    <div class="row">
      <div class="col-xs-6">
        <div id="droparea" class="dropzone dz-clickable">
          <div id="previewsContainer"></div>
          <div class="dz-message" data-dz-message><span style="color:blue">Drop your files here or click to upload</span></div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="row">
          <div id="actions" class="color1">
            <h2>Choose an operation</h2>
            <input type="radio" name="Choose" id="RadioInsertFace" value="No">
            Insert new face to the system<br>
            <input type="radio" name="Choose" id="RadiosCheckExistance" value="No">
            Check face existance<br>
            <input type="radio" name="Choose" id="RadiosGetTrajectory" value="No">
            Get face 's trajectory
          </div>
        </div>
        <div class = "row ">
          <aside>
            <h2>Select state</h2>
            <input type="radio" name="ChooseState" id="RadiosCheckLegalProblems" value="No">
            Legal problems<br>
            <input type="radio" name="ChooseState" id="RadiosCheckMissing" value="No">
            Missing
          </aside>
          <br>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-primary start">
              <i class="glyphicon glyphicon-upload"></i>
              <span>Submit</span>
          </button>
          <button type="reset" class="btn btn-default home">
              <i class="glyphicon glyphicon-home"></i>
              <span>Home</span>
          </button>
        </div>
      </div>
    </div>
    <br>
    <hr />
    <div class="row">
      <div id="map" class="col-xs-6" style="height: 500px; width: 500px;border:1px solid #00F;"></div>
      <div id="response" class="col-xs-6"  style="width:500px;height:500px;border:1px solid #00F;">
        <span style="color:blue">Best match will appear here.</span>
      </div>
  </div>
</div>
		<script type="text/javascript" src="{{url_for('js_static', filename='jquery-3.2.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('js_static', filename='dropzone.js')}}"></script>
    <script type="text/javascript" src="{{url_for('js_static', filename='Displayers/AlreadyExistsDisplayer.js')}}"></script>
    <script type="text/javascript" src="{{url_for('js_static', filename='Displayers/CorrectlyUploadedDisplayer.js')}}"></script>
    <script type="text/javascript" src="{{url_for('js_static', filename='Displayers/DoesntExistDisplayer.js')}}"></script>
    <script type="text/javascript" src="{{url_for('js_static', filename='Displayers/TrajectoryDisplayer.js')}}"></script>
    <script type="text/javascript" src="{{url_for('js_static', filename='ResponseDisplayerFactory/ResponseDisplayerFactory.js')}}"></script>
    <script type="text/javascript" src="{{url_for('js_static', filename='app.js')}}"></script>
    <script type="text/javascript">
      var mymap;
      function initMap() {
        console.log("initMap");
        mymap = new google.maps.Map(document.getElementById('map'), {
        center: new google.maps.LatLng(-34.618696, -58.435593),
        zoom: 12
      });
      function AgregarPuntos(locations){
        console.log("Agrego puntos");
        var points = JSON.parse(locations);
        var marker;
        for (var i = 0; i < points.length; i++) {
            marker = new google.maps.Marker({
              position: new google.maps.LatLng(points[i].lat, points[i].lng),
              map: mymap
            });
        }
      }
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZzeHhs-8JZ7i18MjFuM35dJHq70n3Hx4&callback=initMap"></script>
    <br>
<footer>Eduardo Neira - Luis Ali</footer>
  </body>
</html>
