<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Citizen Tracking</title>
    <link rel="icon" type="image/png" href="../static/facebiometry.png" sizes="32x32" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{{url_for('css_static', filename='bootstrap.min.css')}}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{{url_for('css_static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('css_static', filename='dropzone.css')}}">
    <link rel="stylesheet" href="../static/css/font-awesome/font-awesome.min.css" >
    <link rel="stylesheet" href="../static/css/stylesheet.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="../static/css/footer-distributed.css" type="text/css" charset="utf-8" />
    <style>
      #map {
        height: 100%;
      }
   </style>

  </head>
  <body>
    <header>
      <div class="container">
        <h1>Citizen Tracking  <img src="../static/facebiometry.png" alt="logo" height="50" width="50"/></h1>
      </div>
    </header>
    <div class="container">
      <img class="object-fit-cover" src="../static/multiplefacerecognition.jpg"/>
    </div>
    <div class="container">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#addPerson" role="tab">Add Person</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#check_existance" role="tab">Check existance</a>
        </li>
        <li class="nav-item">
          <a id= "tab_map_link" class="nav-link" data-toggle="tab" href="#trajectory" role="tab">Get trajectory</a>
        </li>
      </ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="addPerson" role="tabpanel">
    <form action="/uploadajax" method="POST" enctype="multipart/form-data" role="form" id="compose-photo" class="dropzone">
      <div id="file-uploader">
        <div class="addfile">
          <span class="add-file dz-message" data-toggle="tooltip" title="Add Photo"><i class="glyphicon glyphicon-plus plus-icon"></i>
            <div class="fallback">
              <input name="photo" id="chose-photo" multiple="" type="file">
            </div>
          </span>
        </div>
      </div>
    </form>
    <br>
    <form class="form-data">
      <fieldset class="form-group row">
        <legend class="col-form-legend col-sm-3">Personal data</legend>
        <div class="col-sm-9">
          <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputNameAddPerson" placeholder="Name">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputSurname" class="col-sm-2 col-form-label">Surname</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputSurnameAddPerson" placeholder="Surname">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputDni" class="col-sm-2 col-form-label">Dni</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputDniAddPerson" placeholder="Dni">
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group row">
        <legend class="col-form-legend col-sm-3">Select state</legend>
        <div class="col-sm-9">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
              Legal problems
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              Missing
            </label>
          </div>
        </div>
      </fieldset>
      <br>
      <br>
      <div class="option-buttons form-group row">
        <div class="offset-sm-5 col-sm-5">
          <button type="submit" class="btn btn-lg btn-primary start" id="startAddPerson">
              <i class="glyphicon glyphicon-upload"></i>
              <span>Upload</span>
          </button>
          <button type="reset" class="btn btn-lg cancel hover-button" id="cancelAddPerson">
              <i class="glyphicon glyphicon glyphicon-ban-circle"></i>
              <span>Cancel</span>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="tab-pane fade" id="check_existance" role="tabpanel">
    <div style="padding-left: 460px;">
      <form action="/uploadajax" method="POST" enctype="multipart/form-data" role="form" id="compose-photo-exist" class="dropzone">
        <div id="file-uploader-exist">
          <div class="addfile">
            <span class="add-file dz-message" data-toggle="tooltip" title="Add Photo"><i class="glyphicon glyphicon-plus plus-icon"></i>
              <div class="fallback">
                <input name="photo" id="chose-photo" multiple="" type="file">
              </div>
            </span>
          </div>
        </div>
      </form>
    </div>
    <br>
    <form class="form-data">
      <fieldset class="form-group row">
        <legend class="col-form-legend col-sm-4">Personal data</legend>
        <div class="col-sm-8">
          <div class="form-group row">
            <label for="outputName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-6" id="outputName">
            </div>
          </div>
          <div class="form-group row">
            <label for="outputSurname" class="col-sm-2 col-form-label">Surname</label>
            <div class="col-sm-6" id="outputSurname">
          </div>
        </div>
          <div class="form-group row">
            <label for="outputDni" class="col-sm-2 col-form-label">Dni</label>
            <div class="col-sm-6" id="outputDni">
            </div>
          </div>
          <div class="form-group row">
            <label for="outputState" class="col-sm-2 col-form-label">State</label>
            <div class="col-sm-6" id="outputState">
            </div>
          </div>
        </div>
      </fieldset>
    <div class="option-buttons form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-lg btn-primary start" id="startExistance">
            <i class="glyphicon glyphicon-search"></i>
            <span>Submit</span>
        </button>
        <button type="reset" class="btn btn-lg cancel hover-button" id="cancelExistance">
            <i class="glyphicon glyphicon glyphicon-ban-circle"></i>
            <span>Cancel</span>
        </button>
      </div>
    </div>
  </form>
  </div>
  <div class="tab-pane fade" id="trajectory" role="tabpanel">
    <form>
      <fieldset class="form-group row">
       <form action="" class="search-form">
         <div style="text-align:center;">
            <div class="form-group has-feedback" id="divSearch" style="display: inline-block;margin:50px auto;">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
              <input type="text" class="form-control" id="inputDniTrajectory" placeholder="Search by dni">
            </div>
            <div id="map"></div>
          </div>
        </form>
      </fieldset>
    </form>
  </div>
</div>
  <div class="container">
      <script type="text/javascript" src="{{url_for('js_static', filename='jquery-3.2.1.min.js')}}"></script>
      <script type="text/javascript" src="{{url_for('js_static', filename='dropzone.js')}}"></script>
      <script type="text/javascript" src="{{url_for('js_static', filename='bootstrap.min.js')}}"></script>
      <script type="text/javascript" src="{{url_for('js_static', filename='dropzoneAddPerson.js')}}"></script>
      <script type="text/javascript" src="{{url_for('js_static', filename='dropzoneExistance.js')}}"></script>
      <script type="text/javascript" src="{{url_for('js_static', filename='infobubble.js')}}"></script>
      <script type="text/javascript">
        /*Cuando carga la página html, una de las primeras cosas que hace es
        una consulta al web server para pedirle el json con configuraciones.
        El valor del json queda en la variable global config*/
        var config;
        $.getJSON("/static/config.json", function(json) {
          config = json;
        });
      </script>
      <script type="text/javascript">
        var directionsDisplay;
        var directionsService;
        var mymap;
        var infobubble;
        var marker;
        var geocoder;
        function initMap() {
          console.log("initMap");
          directionsService = new google.maps.DirectionsService();
          directionsDisplay = new google.maps.DirectionsRenderer();
          mymap = new google.maps.Map(document.getElementById('map'), {
            center: new google.maps.LatLng(-34.618696, -58.435593),
            zoom: 13
          });
          geocoder = new google.maps.Geocoder();
          google.maps.event.trigger(mymap, 'resize');
          $('a[href="#trajectory"]').on('shown', function(e) {
            var currCenter = map.getCenter();
             google.maps.event.trigger(map, 'resize');
             map.setCenter(currCenter);
          });
          infobubble = new InfoBubble({
            shadowStyle: 1,
            padding: 0,
            backgroundColor: '#606060',
            hideCloseButton: true,
            arrowSize: 10,
            arrowPosition: 30,
            backgroundClassName: 'transparent',
            arrowStyle: 2,
            maxWidth: 300,
            disableAutoPan: true
          });
          $("#map").css("width", '95%').css("height", 800);
          google.maps.event.addListener(mymap, 'click', function() {
            infobubble.close();
          });
        }
        $('#tab_map_link').on('shown.bs.tab', function(e) {
        		if( mymap == undefined) {
        			initMap();
        		}
            var center = mymap.getCenter();
            var zoom = mymap.getZoom();
            google.maps.event.trigger(mymap, 'resize');
            mymap.setCenter(center);
            mymap.setZoom(zoom);
        });
        function calculateRoute(routeExtremes, waypts) {
          var bounds = new google.maps.LatLngBounds();
          for (var i=0; i< routeExtremes.length; i++){
            bounds.extend(routeExtremes[i]);
          }
          mymap.fitBounds(bounds);
          var request = {
              origin: routeExtremes[0],
              destination: routeExtremes[routeExtremes.length - 1],
              waypoints: waypts,
              travelMode: google.maps.TravelMode.WALKING
          };
          directionsService.route(request, function (response, status) {
              if (status == google.maps.DirectionsStatus.OK) {
                  directionsDisplay.setDirections(response);
                  directionsDisplay.setOptions( { suppressMarkers: true } );
                  directionsDisplay.setMap(mymap);
              } else {
                  alert("Directions Request from " + start.toUrlValue(6) + " to " + end.toUrlValue(6) + " failed: " + status);
              }
          });
        }
        function sleep(milliseconds) {
         var start = new Date().getTime();
         for (var i = 0; i < 1e7; i++) {
          if ((new Date().getTime() - start) > milliseconds) {
           break;
          }
         }
        }
        function insertMarker(location, points, i, currentPosition){
          date = new Date(points[i].timestamp);
          console.log(date);
          var filepath="/static/images/"+points[i].image;
          var month = date.getMonth() + 1;
          var content = '<div id="iw-container"><div class="iw-title">'+location+'</div><div class="iw-content"><img src='+
          filepath+' style="height: auto; width: 250px;"><p><b>Date</b>: '+ date.getDate()+'/'+month+ '/'+date.getFullYear()+
          '<br><b>Time</b>:'+date.getHours()+':'+date.getMinutes()+':'+date.getSeconds()+':'+date.getMilliseconds()+'</p></div></div>';
          marker = new google.maps.Marker({
            position: currentPosition,
            map: mymap,
            title: location
          });
          google.maps.event.addListener(marker, 'click', (function(marker, content) {
            return function() {
              infobubble.setContent(content);
              infobubble.open(mymap, marker);
            }
          })(marker, content));
        }
        function createMarkerAddInfoWindowAndSetListener(points, i){
          var currentPosition = {lat: points[i].lat, lng: points[i].lng};
          geocoder.geocode({'location': currentPosition}, function(results, status) {
            var location;
            if ((status === 'OK') && (results[1])){
              location = results[1].formatted_address;
            } else {
              location = 'LatLng: {'+points[i].lat+', '+points[i].lng+'}';
              if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
                sleep(2000);
              }
            }
            insertMarker(location, points, i, currentPosition);
          });
        }
        function isExtremePoint(points, i){
          return ((i == 0) || (i== points.length - 1));
        }
        function AgregarPuntos(locations){
          var points = JSON.parse(locations);
          routeExtremes=[];
          waypts=[];
          for (var i=0;i < points.length; i++){
            createMarkerAddInfoWindowAndSetListener(points, i);
            if (isExtremePoint(points, i)){
              routeExtremes.push(new google.maps.LatLng(points[i].lat, points[i].lng))
            }else{
              waypts.push({location: new google.maps.LatLng(points[i].lat, points[i].lng), stopover: true})
            }
          }
          calculateRoute(routeExtremes, waypts);
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZzeHhs-8JZ7i18MjFuM35dJHq70n3Hx4&callback=initMap"></script>
      <script>
        function resetErrors() {
          $('form input, form select').removeClass('inputTxtError');
          $('label.error').remove();
        }
        $("#inputDniTrajectory").on("keydown",function search(e) {
            if ($('label[name="label_error"]').length > 0){
                resetErrors();
                initMap();
            }
            if(e.keyCode == 13) {
                e.preventDefault();
                request= {'operation': 0, 'dni':$("#inputDniTrajectory").val()}
                request['operation'] = config['REQUESTTRAJECTORY'];
                console.log(JSON.stringify(request));
                $.ajax({
                  type: 'POST',
                  contentType: 'application/json',
                  data: JSON.stringify(request),
                  dataType: 'json',
                  url: '/trajectory',
                  success: function (response) {
                      console.log("Success trajectory");
                      if (response.points.length > 0){
                        console.log(response.points);
                        AgregarPuntos(response.points);
                      }else{
                        console.log("no tiene trayectoria");
                      }
                  },
                  error: function(file){
                    console.log("Error trajectory");
                    console.log(file);
                    errorTxt= JSON.parse(file.responseText);
                    var msg = '<label class="error" for="inputDniTrajectory" name="label_error">'+errorTxt['error']+'</label>';
                    $('#inputDniTrajectory').addClass('inputTxtError').after(msg);
                    $('#inputDniTrajectory').focus();
                    }
              });
            }
        });
      </script>
    </div>
  </body>
</html
