html,body{background-color:#e3f2fd;}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header{
  background: #2c3e50;
  color:#fff;
}
.main{
  background: #f2f2f2;
}
.color1{
  background: #34495e;
  color:#fff;
}
aside{
  background: #00695c;
  color: #fff;
}
footer{
  background: #16a085;
  color:#fff;
}
#droparea{
	width: 350px;
	min-height: 300px;
	margin: 0 auto 0;
	padding: 0 20px;
	border: 4px solid rgba(0, 82, 156, 0.8);
}

#previewsContainer {
	width: 250px;
	min-height: 260px;
	background: #e3f2fd;
	margin: 20 auto 10;
}
#map {
        height: 100%;
      }
