html,body{
  margin:0px;
  padding: 0px;
  background-color: #404040;
  background: url("../static/cybersecurity-background.jpg");
  /*background-size:100%;
  background-repeat: no-repeat, no-repeat;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
}
/*hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}*/

h1 {
  font-family: 'Museo_Slab_500_2';
}

#panel-heading-actions{
  font-family: 'Museo_Slab_500_2';
  font-weight: bold;
}

.best-match-preview{
  height: 250px;
  width: 270px;
  border: 1px solid #000;
  background: url("../static/no-preview-available.png");
  background-size: 270px 250px;
  background-repeat: no-repeat;
}

.google-map-preview{
  height: 800px;
  width: 1200px;
  border: 1px solid #000;
}

header{
  background: #202020;
  color:#ffffff;
}

.plus-icon {
  color: #eeeeee !important;
}

#file-uploader-exist .pic{ width:120px; height:120px; text-align:center; border:1px solid #000; border-radius: 5px; margin:8px; display: inline-block; vertical-align:top; position:relative; overflow:hidden;}
#file-uploader-exist .pic img { width:120px; height: 120px; text-align:center;}
#file-uploader-exist .pic .remove{cursor: pointer; position:absolute; top:0; right: 0; width:20px; height:20px; background: #eee; z-index:1030; }
#file-uploader-exist .pic-list{ overflow-x: scroll; overflow-y: hidden;}
#file-uploader-exist .addfile{cursor: pointer; border: 2px dashed #c0c0c0; border-radius: 5px; display: inline-block; width:120px; height:120px; text-align:center;  margin:8px; line-height:105px;}
#file-uploader-exist .add-file { position: relative; overflow: hidden;  height: 48px; font-size:2em; }
#file-uploader-exist .add-file input[type="file"]{ height: 20px; position: absolute; top: 0; right: 0; bottom:5px; margin: 0 auto; opacity: 0; cursor: pointer; width: 100%;}

#file-uploader{ width:100%; white-space:nowrap; overflow-x: auto; border: 2px solid #c0c0c0;}
#file-uploader .pic{ width:120px; height:120px; text-align:center; border:1px solid #000; border-radius: 5px; margin:8px; display: inline-block; vertical-align:top; position:relative; overflow:hidden;}
#file-uploader .pic img { width:120px; height:120px; text-align:center;}
#file-uploader .pic .remove{cursor: pointer; position:absolute; top:0; right: 0; width:20px; height:20px; background: #eee; z-index:1030; }
#file-uploader .pic-list{ overflow-x: scroll; overflow-y: hidden;}
#file-uploader .addfile{cursor: pointer; border: 2px dashed #c0c0c0; border-radius: 5px; display: inline-block; width:120px; height:120px; text-align:center;  margin:8px; line-height:105px;}
#file-uploader .add-file { position: relative; overflow: hidden;  height: 48px; font-size:2em; }
#file-uploader .add-file input[type="file"]{ height: 20px; position: absolute; top: 0; right: 0; bottom:5px; margin: 0 auto; opacity: 0; cursor: pointer; width: 100%;}

#map {
  height: 100%;
  border:1px solid #000;
  display: inline-block;
  margin:0px auto;
}
.object-fit-cover{
  max-height: 300px;
  width: 100%;
  object-fit: cover; /*magic*/
}

.nav {
    /*background-color: #ffffff !important;*/
    font-family: 'Museo_Slab_500_2';
    font-weight: bold;
}
.nav>li>a {
    background-color: #a0a0a0 !important;
    color: #ffffff;
    font-family: 'Museo_Slab_500_2';
}
.nav>li>a:hover {
    background-color: #808080 !important;
    color: white;
    font-family: 'Museo_Slab_500_2';
}
.nav>li.active>a{
    background-color: #606060 !important;
    color: #ffffff !important;
    font-family: 'Museo_Slab_500_2';
    font-weight: bold !important;
}

.hover-button:hover {
  background-color: #ff0000 !important;
}

label {
  color: #ffffff;
  font-family: 'Museo_Slab_500_2';
  padding: 4px;
}
legend {
  color: #ffffff;
  font-family: 'Museo_Slab_500_2';
  font-weight: bold;
  width: 80px;
}

.form-data{
  padding-left: 150px;
}

.option-buttons {
  padding-left: 300px;
}

form label.error{font:25px Tahoma,sans-serif;color:#ED7476;margin-top: 15px;margin-left:5px; display:inline;}
form input.error,form input.error:hover,form input.error:focus,form select.error,form textarea.error{border:5px solid #ED7476;background:#FFFFFF}

#outputName, #outputSurname, #outputDni, #outputState{
  font-weight: bold;
  color: white;
}
#divSearch{
  top: 11px;
  width: 350px;
}
figcaption {
    text-align: left;
    font-family: 'Museo_Slab_500_2';
}

#iw-container {
	margin-bottom: 0px;
  text-align: left;
}
#iw-container .iw-title {
  background-color: black !important;
  color: #ff8000 !important;
  font-family: 'Museo_Slab_500_2';
  font-weight: bold !important;
	padding: 10px;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
  color: #00cc00;
  font-family: 'Museo_Slab_500_2';
	line-height: 18px;
	margin-right: 10px;
	padding: 15px 5px 0px 15px;
	overflow-y: auto;
	overflow-x: hidden;
}
.iw-content img {
	float: top;
}
